<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="header">area personale</div>
                <div class="text">Benevenuto !</div>
            </div>
        </div>



        <div class="form">
            <form [formGroup]="areaPersonaleForm">
                <div class="modal-body">

                    <div class="modal-header info-header">
                        <span>anagrafica generale <i class="bi bi-person-circle"></i></span>
                        <img src="../assets/areapers-foto.jpeg" alt="">
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="inserisci email" formControlName="nome" />
                                    <label for="floatingInput">Email</label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="password" class="form-control" placeholder="inserisci password"
                                        formControlName="cognome" />
                                    <label for="floatingInpu">Password</label>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="inserisci nome" formControlName="nome" />
                                    <label for="floatingInput">Nome</label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="inserisci cognome"
                                        formControlName="cognome" />
                                    <label for="floatingInpu">Cognome</label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <select class="form-control" formControlName="nome">
                                        <option select> il tuo mese di nascita</option>
                                        <option *ngFor="let mese of mesiSelect" value="{{mese.label}}">{{mese.label}}</option>
                                    </select>
                                    <label for="floatingInput">Mese</label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <select class="form-control" formControlName="nome">
                                        <option select> il tuo giorno di nascita</option>
                                        <option *ngFor="let giorno of giorniSelect" value="{{giorno.label}}">{{giorno.label}}</option>
                                    </select>
                                    <label for="floatingInput">Giorno</label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <select class="form-control" formControlName="nome">
                                        <option select> il tuo anno di nascita</option>
                                        <option *ngFor="let anno of anniSelect" value="{{anno.label}}">{{anno.label}}</option>
                                    </select>
                                    <label for="floatingInput">Anno</label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="femmina" />
                                        <label class="form-check-label" for="inlineRadio1">MASCHIO</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="maschio" />
                                        <label class="form-check-label" for="inlineRadio2">FEMMINA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="altro" />
                                        <label class="form-check-label" for="inlineRadio3">ALTRO</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="inserisci numero di telefono" formControlName="nome" />
                            <label for="floatingInput">Cellulare</label>
                        </span>
                    </div>




                    <div class="modal-header info-header">
                        <span>abitazione <i class="bi bi-house"></i></span>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                <input type="text" class="form-control" placeholder="inserisci città"
                                    formControlName="cognome" />
                                <label for="floatingInpu">Citta'</label>
                            </span>
                            </div>
                            <div class="col-6">
                                <span class="form-group has-float-label">
                                <input type="text" class="form-control" placeholder="inserisci indirizzo" formControlName="nome" />
                                <label for="floatingInput">Indirizzo</label>
                            </span>
                            </div>

                            <div class="col-2">
                                <span class="form-group has-float-label">
                                <input type="text" class="form-control" placeholder="inserisci n° civico"
                                    formControlName="cognome" />
                                <label for="floatingInpu">n°</label>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-header info-header">
                        <span>file richiesti <i class="bi bi-file-earmark-arrow-up"></i></span>
                    </div>
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Carica il CV</label>
                            <input type="file" class="form-control" id="inputGroupFile01">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Carica il video</label>
                            <input type="file" class="form-control" id="inputGroupFile01">
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-reset">cancella</button>
                    <button type="submit" class="btn btn-outline-dark">salva</button>
                </div>
            </form>
        </div>
    </div>
</div>