nav {
    background-color: #ff755d;
    text-transform: uppercase;
}

.nav-link img {
    border: 1px black solid;
    width: auto;
}

li {
    width: fit-content;
    width: 200px;
}

.nav-item {
    width: fit-content;
}

a {
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
     :hover {
        font-weight: 300;
    }
}

.logo {
    height: 90px;
}