nav {
    background-color: #ff755d;
    text-transform: uppercase;
}

.nav-link img {
    border: 1px black solid;
    width: auto;
}

li {
    width: 200px;
}

.nav-item {
    width: auto;
}

a {
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
     :hover {
        font-weight: 300;
    }
}

.active {
    font-weight: 200;
}

@media (max-width: 1150px) {
    a {
        font-size: 20px;
    }
}