<div class="box">
    <div class="wrapper">
        <div class="text">
            <div class="content">
                <div class="header">accedi</div>
                <div class="text">
                    Benvenuto/a, stai per accedere nella tua area personale di <span class="bolder">TALENTI4FUTURE</span> , qui potrai autocandidarti
                </div>

            </div>

        </div>
        <div class="form">
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="email" class="form-control" placeholder="inserisci email" formControlName="nome">
                                <label for="floatingInput">Email</label>
                            </span>
                        </div>
                        <div class="col">

                            <span class="form-group has-float-label">
                                <input type="password" class="form-control" placeholder="inserisci password" formControlName="cognome">
                                <label for="floatingInpu">Password</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">
                        cancella
                    </button>
                    <button type="submit" class="btn btn-submit">
                            login
                        </button>

                </div>
            </form>
        </div>

    </div>

</div>