<div class="box">
    <div class="wrapper">
        <div class="text">
            <div class="content">
                <div class="header">chi siamo</div>
                <div class="text">

                    <span class="bolder">ALENTI4FUTURE</span> è una soluzione alternativa, nata nel presente ma proiettata nel <span class="bolder">FUTURO</span>. <br> Il nostro obiettivo è di delineare profili professionali riconosciuti a livello ministeriale,
                    in grado di agire ed essere assorbiti dal mercato del lavoro, nel settore di specializzazione scelto. <br> Il nostro ente, facente parte degli Istituti Tecnici Superiori, è una novità per il sistema scolastico italiano: si tratta di
                    un istituto che promuove percorsi alternativi alla formazione <span class="bolder">universitaria</span>. <br> I percorsi formativi che offriamo sono in ambito <span class="bolder">DIGITAL MARKETING E MARKETING E COMUNICAZIONE MULTICHANNEL</span>.
                    <br> L’ente ha rapporti consolidati con numerose aziende del settore, che si sono impegnate a collaborare alla realizzazione dell’attività formativa.

                </div>

            </div>

        </div>
        <div class="map">

        </div>
        <div class="img-grid">

        </div>
    </div>
</div>