<div class="box">
    <div class="wrapper">
        <div class="text">
            <div class="content">
                <div class="header">chi siamo</div>
                <div class="text">

                    <span class="bolder">OPEN UP</span> è una soluzione alternativa, nata nel presente ma proiettata nel <span class="bolder">FUTURO</span>. <br> Il nostro obiettivo è di delineare profili professionali riconosciuti a livello ministeriale,
                    in grado di agire ed essere assorbiti dal mercato del lavoro, nel settore di specializzazione scelto. <br> Il nostro ente, facente parte degli Istituti Tecnici Superiori, è una novità per il sistema scolastico italiano: si tratta di
                    un istituto che promuove percorsi alternativi alla formazione <span class="bolder">universitaria</span>. <br> II percorsi formativi che offriamo sono in ambito <span class="bolder">DIGITAL MARKETING E MARKETING E COMUNICAZIONE MULTICHANNEL</span>.
                    <br> L’ente ha rapporti consolidati con numerose aziende del settore, che si sono impegnate a collaborare alla realizzazione dell’attività formativa.

                    <div class="secondo-blocco">
                        <div class="row">

                            <div class="content">
                                <div class="header">Piano formativo</div>
                                I nostri corsi di alta specializzazione sono in ambito <strong style="color: var(--strongAbout);">&quot;digital marketing e marketing e comunicazione multichannel.&quot;</strong> <br> Il piano formativo si compone di una
                                parte di formazione tecnico pratica con docenti professionisti del settore e una parte di tirocinio in azienda.
                            </div>


                        </div>



                        <br>
                        <div class="div-table">
                            <strong><p class="table-div-title" style="color: #0091AD; text-align: center; font-size: 45px"> PIANO DI STUDI</p></strong>

                            <div class="row ore-row">
                                <div class="col text-right">
                                    <p><i class="bi bi-clock"></i> <span style="color: #0091AD; font-weight:400; padding-left:15px;">800</span> ORE TECNICO PRATICHE <i class="bi bi-book" style="padding-left:5px;"></i></p>

                                </div>
                                <div class="col text-left">
                                    <p><i class="bi bi-clock"></i> <span style="color: #0091AD; font-weight:400; padding-left:15px;">800</span> ORE DI STAGE IN AZIENDA <i class="bi bi-building" style="padding-left:5px;"></i></p>

                                </div>
                            </div>

                            <p class="text-align" style="padding-left: 5px; ;"> I moduli che affronterete nel biennio saranno : </p>
                            <div class="row " style="width: 100%; ">


                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                                    <table class="table about  table-hover">
                                        <thead class="thead-dark ">
                                            <tr>
                                                <th class="intestazione" colspan="4" style="background-color: #0091AD;">Primo Anno</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>


                                                <th colspan="1 "> Descrizione</th>
                                                <th colspan="1 "> Ore</th>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Basi di grafica e impaginazione I </td>
                                                <td colspan="1 ">30</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Fondamenti di comunicazione di impresa I </td>
                                                <td colspan="1 ">30</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Project management I </td>
                                                <td colspan="1 ">25</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Incontri con realta' aziendali I </td>
                                                <td colspan="1 ">15</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Project planning I </td>
                                                <td colspan="1 ">15</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Base sulle tecnologie abilitianti (IA, Big Data) I </td>
                                                <td colspan="1 ">35</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Protezione dati / e-privacy I </td>
                                                <td colspan="1 ">35</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Progettazione web I </td>
                                                <td colspan="1 ">40</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Strumenti per lo sviluppo grafico digitale I </td>
                                                <td colspan="1 ">45</td>


                                            </tr>

                                            <tr>
                                                <td colspan="1 ">Strumenti per elaborazione audio e video I </td>
                                                <td colspan="1 ">40</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Lingua inglese e microlingua di settore I </td>
                                                <td colspan="1 ">40</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Content marketing II </td>
                                                <td colspan="1 ">25</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Digital publishing II </td>
                                                <td colspan="1 ">25</td>
                                            </tr>

                                            <tr style="border-bottom: #0091AD 3px solid;">

                                                <td colspan="1 ">Stage in azienda</td>
                                                <td colspan="1 ">400</td>
                                            </tr>


                                        </tbody>
                                    </table>

                                </div>



                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                                    <table class="table about table-hover">
                                        <thead class="thead-dark ">
                                            <tr>
                                                <th class="intestazione" colspan="4" style="background-color: #0091AD; ">Secondo Anno</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>


                                                <th colspan="1 "> Descrizione</th>
                                                <th colspan="1 "> Ore</th>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Basi di grafica e impaginazione II </td>
                                                <td colspan="1 ">30</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Personal branding e oreintamento al lavoro I</td>
                                                <td colspan="1 ">30</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Linguaggi avanzati per lo sviluppo front-end I</td>
                                                <td colspan="1 ">30</td>


                                            </tr>


                                            <tr>

                                                <td colspan="1 ">Incontri con realta' aziendali II </td>
                                                <td colspan="1 ">15</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Project planning II </td>
                                                <td colspan="1 ">15</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Diritto commerciale, digitale e del lavoro I</td>
                                                <td colspan="1 ">35</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Protezione dati / e-privacy II </td>
                                                <td colspan="1 ">35</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Progettazione web II </td>
                                                <td colspan="1 ">40</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Strumenti per lo sviluppo grafico digitale II </td>
                                                <td colspan="1 ">45</td>


                                            </tr>

                                            <tr>
                                                <td colspan="1 ">Strumenti per elaborazione audio e video II </td>
                                                <td colspan="1 ">40</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Lingua inglese e microlingua di settore II </td>
                                                <td colspan="1 ">40</td>


                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Content marketing II </td>
                                                <td colspan="1 ">25</td>

                                            </tr>

                                            <tr>

                                                <td colspan="1 ">Digital publishing II </td>
                                                <td colspan="1 ">25</td>
                                            </tr>

                                            <tr style="border-bottom: #0091AD 3px solid;">

                                                <td colspan="1 ">Stage in azienda</td>
                                                <td colspan="1 ">400</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>