@import "src/stili/grid-base.scss";
.img-bottom {
    height: 500px;
    width: 50%;
    margin: auto;
    // padding-right: 15px;
}

.primo {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text {
    font-family: Dancing Script;
    font-size: 200px;
}

@media (max-width: 1500px) {
    .img-bottom {
        width: 80%;
        height: 500px;
    }
    .text {
        font-family: Dancing Script;
        font-size: 150px;
    }
}