@import "src/stili/grid-base.scss";
.img-bottom {
    height: 600px;
    width: 1300px;
   // padding-right: 15px;
    padding-left: 140px;
}

.primo{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}