<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="header">Home</div>
                <div class="text text-center">
                    <q>
                        Il futuro appartiene a coloro che credono nella bellezza dei propri sogni.
                    </q>
                    <br>
                    <cite>
                        (Eleanor Roosevelt)
                    </cite>
                </div>
            </div>
        </div>
        <div class="img-grid">
            <img src="./assets/home-image.png" alt="" class="img-bottom">
        </div>
    </div>
</div>