@import "src/stili/grid-base.scss";
@import "src/stili/input.scss";
.img-bottom {
    height: 500px;
    width: 50%;
    margin: auto;
    // padding-right: 15px;
}

.primo {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

q,
cite {
    font-family: Dancing Script;
    color: #fff;
}

q {
    font-size: 47px;
}

.frase-citazione,
.firma-citazione {
    width: 100% !important;
}

cite {
    font-size: 35px;
}

.contact-grid {
    height: auto;
}

table {
    margin: auto;
    td:nth-child(even) {
        font-weight: 300;
    }
    td:nth-child(odd) {
        text-align: left;
    }
    td {
        padding: 10px;
    }
    i {
        font-size: 30px;
        color: #0091AD;
    }
}

.footer {
    text-align: left;
    table {
        margin: 0;
        td {
            font-size: 30px;
            width: auto;
            font-weight: 200;
        }
    }
}

@media (max-width: 800px) {
    .img-bottom {
        width: 80%;
        height: 500px;
    }
    q {
        font-size: 35px;
    }
    cite {
        font-size: 25px;
    }
}

.home-image {
    position: relative;
}

.text-centered {
    position: absolute;
    top: 25%;
    bottom: 25%;
    background-color: #0090ad48;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}