<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="header">Home</div>
                <div class="text text-center">
                    <q>
                        Il futuro appartiene a coloro che credono nella bellezza dei propri sogni.
                    </q>
                    <br>
                    <cite>
                        (Eleanor Roosevelt)
                    </cite>
                </div>
            </div>
        </div>
        <div class="img-grid">
            <img src="./assets/home-image.png" alt="" class="img-bottom">
        </div>
    
    </div>
</div>
    <div class="secondo-blocco">
        <div class="row" style="width: 100%; margin-left: 0px;">

            <div class="primo" >
                <h1 style="color: #ff755d;">PIANO FORMATIVO</h1>
            I nostri corsi di alta specializzazione sono in ambito  <strong style="color: var(--strongAbout);">&quot;digital marketing e marketing e comunicazione multichannel.&quot;</strong> <br>
            Il piano formativo si compone di una parte di formazione tecnico pratica con docenti professionisti del settore e una parte di tirocinio in azienda.
            </div>


        </div>
        <div class="secondo-blocco-2-riga-1" style="padding-left: 14px; ;">
            <strong><p class="titolo" style="padding-left: 14px; ;">Ecco la suddivisione del monte ore in TALENTI4FUTURE.</p></strong>
            <div class="row secondo-blocco-1-riga" style="width: 100%; ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 secondo-blocco-2-riga-1-col-1">

                    <p><i class="far fa-clock"></i></p>
                    <p class="counter5 ">800</p>
                    <h1> <i class="fas fa-book"></i>ORE TECNICO PRATICHE</h1>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="color: var(--bgAbout-1) ">

                    <p><i class="far fa-clock "></i></p>
                    <p class="counter6 ">800</p>
                    <h1> <i class="fas fa-building"></i> ORE DI STAGE IN AZIENDA</h1>
                </div>
            </div>

        </div>

<br>
        <div class="div-table">
            <strong><p class="table-div-title" style="color: #ff755d; text-align: center; font-size: 20px"> PIANO DI STUDI</p></strong>
            <p class="text-align" style="padding-left: 5px; ;"> I percorsi formativi, nello specifico, comprendono i seguenti moduli tecnico-pratici.</p>
            <div class="row " style="width: 100%; ">


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                    <table class="table about ">
                        <thead class="thead-dark ">
                            <tr>
                                <th class="intestazione" colspan="4" style="background-color: #ff755d;">Primo Anno</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                               
                                <th colspan="1 "> Descrizione</th>
                                <th colspan="1 "> Ore</th>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Project work I</td>
                                <td colspan="1 "> 30</td>

                            </tr>

                            <tr>
                               
                                <td colspan="1 "> Incontri con Realt&agrave; Aziendali I</td>
                                <td colspan="1 "> 15</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Programmazione orientata agli oggetti</td>
                                <td colspan="1 "> 90 </td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Programmazione web I</td>
                                <td colspan="1 "> 90</td>

                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Analisi e gestione del progetto</td>
                                <td colspan="1 "> 60</td>

                            </tr>

                            <tr>
                              
                                <td colspan="1 "> Programmazione back-end e PHP</td>
                                <td colspan="1 "> 45</td>

                            </tr>

                            <tr>
                               
                                <td colspan="1 "> Web app e User Experience</td>
                                <td colspan="1 "> 90</td>


                            </tr>

                            <tr>
                                <td colspan="1 "> Programmazione SQL del database</td>
                                <td colspan="1 "> 45</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> English Coaching I</td>
                                <td colspan="1 "> 30</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Business system and approach to work I</td>
                                <td colspan="1 "> 30</td>

                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Fogli di lavoro</td>
                                <td colspan="1 "> 30</td>
                            </tr>
                            <tr>
                                
                                <td colspan="1 "> Estetica del lavoro I</td>
                                <td colspan="1 "> 45</td>
                            </tr>


                        </tbody>
                    </table>

                </div>



                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                    <table class="table about ">
                        <thead class="thead-dark ">
                            <tr>
                                <th class="intestazione" colspan="4" style="background-color: #ff755d; ">Secondo Anno</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                               
                                <th colspan="1 "> Descrizione</th>
                                <th colspan="1 "> Ore</th>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Incontri con Realt&agrave; Aziendali II</td>
                                <td colspan="1 "> 15</td>

                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Programmazione Framework</td>
                                <td colspan="1 "> 60</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Internet of Things</td>
                                <td colspan="1 "> 45 </td>


                            </tr>

                            <tr>
                              
                                <td colspan="1 "> Strumenti Cloud e DevOp</td>
                                <td colspan="1 "> 45</td>

                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Programmazione Web II</td>
                                <td colspan="1 "> 60</td>

                            </tr>

                            <tr>
                               
                                <td colspan="1 "> Metodologie Agili</td>
                                <td colspan="1 "> 30</td>

                            </tr>

                            <tr>
                               
                                <td colspan="1 "> Sistemi Gestionali</td>
                                <td colspan="1 "> 30</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Sicurezza Indormatica</td>
                                <td colspan="1 "> 45</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> English Coaching II</td>
                                <td colspan="1 "> 30</td>


                            </tr>

                            <tr>
                                
                                <td colspan="1 "> Company system and job approach II</td>
                                <td colspan="1 "> 60</td>

                            </tr>


                            <tr>
                               
                                <td colspan="1 "> Estetica del lavoro II</td>
                                <td colspan="1 "> 45</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>

            <!-- immagine sfondo 2-->

          <!-- <img src="images/jac.jpg" alt="" class="img-sfondo-2">--> 

            <!-- end sfondo 2-->


        </div>
