<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="text text-center">
                    <q style="font-size: 60px;">
                        Il futuro appartiene a coloro che credono nella bellezza dei propri sogni.
                    </q>
                    <br>
                    <cite style="font-size: 40px;">
                        (Eleanor Roosevelt)
                    </cite>
                </div>
            </div>
        </div>
        <div class="img-grid text-center">
            <img src="./assets/home-image.png" alt="" class="img-bottom">
        </div>

    </div>
</div>