.box {
    width: 100%;
    padding: 2%;
}

.wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    gap: 2%;
}

.wrap-text {
    grid-row-end: 2;
}

.content {
    .header {
        font-size: 45px;
        width: 100%;
        font-weight: 250;
        text-transform: uppercase;
        color: #ff755d
    }
    .text {
        width: 100%;
        font-weight: 100;
        font-size: 25px;
        margin: 0;
        q {
            font-size: 40px;
        }
        cite {
            font-size: 30px;
        }
    }
    .bolder {
        font-weight: 300;
    }
}

.form {
    grid-row-end: 3;
    width: 100%;
    margin: 0;
}

.body-container {
    width: 100%;
    margin: 0;
}

.wrap-img {
    width: 70%;
    grid-row-end: 3;
}

.map {
    width: 100%;
    height: 300px;
}

.img-grid {
    margin-bottom: 2%;
    grid-row-end: 4;
}

.grid-contact {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: 50% 50%;
    padding: 15px;
    gap: 20px;
}

.img-bottom {
    width: 100%;
    height: 600px;
}

.img-home {
    width: 100%;
    height: 400px;
}

.grid-corsi {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 150px auto;
    width: 100%;
    column-gap: 10px;
}

.corsi-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    grid-column-start: 1;
}

.primo-anno {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sec-anno {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media screen and (max-width: 800px) {
    .content {
        .header {
            font-size: 30px;
            width: 100%;
            font-weight: 400;
            text-transform: uppercase;
            color: #ff755d
        }
        .text {
            width: 100%;
            font-size: 20px;
            margin: 0;
        }
    }
    .map,
    .img-bottom {
        height: 250px;
    }
    button {
        width: 30%;
        margin-top: 1%;
    }
    label {
        font-weight: 150 !important;
        font-size: 20px;
    }
    input {
        font-size: 30px;
        font-weight: 200!important;
         ::placeholder {
            font-weight: 200!important;
        }
    }
    input:focus {
        box-shadow: none;
        border: 1px #000 solid;
    }
}