button {
    width: 15%;
    font-size: 25px;
    margin-top: 1%;
    padding: 5px;
    border-radius: 10px;
}

.btn-submit {
    background-color: #0091AD;
    color: #fff;
    border: 1px solid #0091AD;
}

label {
    font-weight: 150 !important;
    font-size: 20px;
}

input,
select {
    font-size: 25px;
    font-weight: 200!important;
     ::placeholder {
        font-weight: 100!important;
        color: #000;
    }
    border: none;
    border-bottom: 2px #0090ad49 solid;
    border-radius: 0;
    margin-top: 10px;
}

input:focus {
    box-shadow: none;
    border-bottom: 2px #0091AD solid;
}

@media (max-width: 800px) {
    button {
        width: 30%;
        font-size: 15px;
        margin-top: 1%;
    }
    input,
    select {
        font-size: 15px;
        font-weight: 200!important;
         ::placeholder {
            font-weight: 200!important;
            color: #000;
        }
    }
    label {
        font-size: 10px;
    }
}