<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="header">i nostri valori</div>


                <div class="text">
                    <table>
                        <tr>
                            <td><i class="bi bi-sun-fill"></i> </td>
                            <td>Il nostro ente pone la propria attenzione sulla singola persona con l’intento di mettere in luce le <span class="bolder">potenzialità</span> di ognuno.</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-binoculars-fill"></i></td>
                            <td>
                                <span class="bolder">OPEN UP</span> ha lo sguardo rivolto al <span class="bolder">futuro</span> e per questo adotta una serie di soluzioni innovative per adattarsi ai continui cambiamenti.
                            </td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-star-fill"></i></td>
                            <td>I talenti attraverso il nostro percorso formativo avranno la possibilità di esprimere la propria <span class="bolder">creatività e unicità</span>.</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-people-fill"></i></td>
                            <td>Un altro valore su cui ci basiamo è quello di promuovere un ambiente caratterizzato dalla <span class="bolder">libertà di espressione</span>, <span class="bolder">rispetto degli altri e collaborazione</span>.</td>
                        </tr>
                    </table>
                </div>

                <div class="img-valori">
                    <img src="./assets/valori-trasp.png">

                </div>

            </div>

        </div>
    </div>
</div>