<div class="box">
    <div class="wrapper">
        <div class="wrap-text">
            <div class="content">
                <div class="header">i nostri valori</div>
                <div class="text">

                    Il nostro ente pone la propria attenzione sulla singola persona con l’intento di mettere in luce le <span class="bolder">potenzialità</span> di ognuno. <br> <span class="bolder">Talenti 4 future</span> ha lo sguardo rivolto al futuro
                    e per questo adotta una serie di soluzioni innovative per adattarsi ai continui cambiamenti. <br> I talenti attraverso il nostro percorso formativo avranno la possibilità di esprimere la propria <span class="bolder">creatività e unicità</span>.
                    <br> Un altro valore su cui ci basiamo è quello di promuovere un ambiente caratterizzato dalla <span class="bolder">libertà di espressione</span>, <span class="bolder">rispetto degli altri e collaborazione</span>. <br> Docenti e talenti
                    seppur con età ed esperienze diverse verranno sempre posti sullo stesso piano.

                </div>

            </div>

        </div>
        <div class="map">

        </div>
        <div class="img-grid">
        </div>
    </div>
</div>