<div class="box">
    <div class="wrapper">
        <div class="text">
            <div class="content">
                <div class="header">Dove SIAMO</div>
                <div class="text">

                    La nostra sede si trova all’interno di un antico palazzo prestigioso nel centro della bellissima <span class="bolder">Bergamo</span>, precisamente in una delle vie più caratteristiche della città, <span class="bolder">via XX Settembre</span>.
                    <br> A pochi metri di distanza è presente un parcheggio custodito e per voi gratuito. <br> Inoltre, la sede è facilmente accessibile grazie alla vicinanza della stazione di Bergamo e alla presenza di innumerevoli autobus.

                </div>

            </div>

        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.881062448194!2d9.664779615415958!3d45.6933588261443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4781510e3808a8c5%3A0xf93121631acdcc7d!2sVia%20XX%20Settembre%2C%2040%2C%2024122%20Bergamo%20BG!5e0!3m2!1sit!2sit!4v1616529513165!5m2!1sit!2sit"
                style="border:0;" allowfullscreen="" class="map"></iframe>
        </div>
        <div class="img-grid">
            <img src="/../assets/propilei-where.png" alt="propilei" class="img-bottom">
        </div>
    </div>
</div>